- obj.each do |article|
  .col-xs-8.col-xs-offset-2.col-md-4{ class:[ ("col-md-offset-4" if obj.length == 1),
                                              ("col-md-offset-0" if obj.length != 1)]}
    .well
      %h4
        = link_to article.title, article_path(article)
      %div
        = truncate(article.description, length: 100)
        .article-details
          %small.text-muted
            Created by #{article.user.username if article.user}
            #{time_ago_in_words(article.created_at)} ago
            %br/
            Last updated: #{time_ago_in_words(article.updated_at)} ago
      .article-actions
        = link_to '<i class="glyphicon glyphicon-edit"></i>'.html_safe,
          edit_article_path(article),
          class: "btn btn-default btn-sm"
        = link_to '<i class="glyphicon glyphicon-trash"></i>'.html_safe,
          article_path(article),
          method: :delete,
          data: { confirm: "Are you sure you want to delete the article?"},
          class: "btn btn-default btn-sm"
