<div class="col-xs-8 col-xs-offset-2">
  <h2>
    Title: <%= @article.title %>
  </h2>
</div>

<div class="well col-xs-8 col-xs-offset-2">
  <h4><strong>Description:</strong></h4>
  <hr>
  <%= simple_format(@article.description) %>
</div>

<div class="col-xs-8 col-xs-offset-2">
  <%= link_to "Edit this article", edit_article_path(@article), class: "btn btn-link" %>
  <%= link_to "Delete article", article_path(@article), method: :delete, data: { confirm: "Are you sure you want to delete the article?"}, class: "btn btn-link" %>
  <%= link_to "View all articles", articles_path, class: "btn btn-link" %>
</div>
