.row
  - if @article.user
    .col-xs-8.col-xs-offset-2
      .text-center
        .small.text-muted Created by
        = link_to gravatar_for(@article.user), user_path(@article.user), class: "margin-t10"
        %h4= link_to @article.user.username, user_path(@article.user)
  .well.col-xs-8.col-xs-offset-2
    %h2= @article.title
    %hr/
    = simple_format(@article.description)
  .col-xs-8.col-xs-offset-2
    - if logged_in? && current_user == @article.user
      = link_to "Edit", edit_article_path(@article), class: "btn btn-link"
      = link_to "Delete", article_path(@article), method: :delete, data: { confirm: "Are you sure you want to delete the article?"}, class: "btn btn-link"
    = link_to "View all articles", articles_path, class: "btn btn-link"
