= render 'shared/errors', obj: @user
.row.margin-t30
  = form_for(@user, :html => {class: "form-horizontal", role: "form"}) do |f|
    .form-group
      .control-label.col-sm-3.text-right
        = f.label :username
      .col-sm-7
        = f.text_field :username, class: "form-control", placeholder: "Enter username", autofocus: true
    .form-group
      .control-label.col-sm-3.text-right
        = f.label :email
      .col-sm-7
        = f.email_field :email, class: "form-control", placeholder: "Enter email"
    .form-group
      .control-label.col-sm-3.text-right
        = f.label :password
      .col-sm-7
        = f.password_field :password, class: "form-control", placeholder: "Enter password"
    .form-group
      .col-sm-7.col-sm-offset-3
        = f.submit(@user.new_record? ? "Sign up" : "Update account", class: "btn btn-primary")
        = link_to "Cancel", articles_path, class: "btn btn-link"